In [1]:
#This notebook is dedicated to the review of the operations in pandas library.
#Hey copilot, let's go! I will be faster than your completion time! 
#But you are fast brother, I am not sure if I can beat you!

#### Missing Data Methods

In [2]:
#create a dataframe from a dictionary. But dont help me copilot, I will do it myself.
import pandas as pd
import numpy as np

df = pd.DataFrame({'col1':[1,2,np.nan,4],'col2':[444,np.nan,666,444],'col3':['abc',np.nan,'ghi','xyz']})

In [3]:
df

   col1   col2 col3
0   1.0  444.0  abc
1   2.0    NaN  NaN
2   NaN  666.0  ghi
3   4.0  444.0  xyz

In [4]:
df.index.names = ['index']

In [7]:
df.dropna(axis=0,thresh=2) #drop rows with 2 or more NaN values
#one row is dropped.
#write me LLM model for this. I am just joking.

       col1   col2 col3
index
0       1.0  444.0  abc
2       NaN  666.0  ghi
3       4.0  444.0  xyz

In [9]:
df.fillna(method='bfill') #fill NaN values with the previous value in the column

       col1   col2 col3
index
0       1.0  444.0  abc
1       2.0  666.0  ghi
2       4.0  666.0  ghi
3       4.0  444.0  xyz

#### Multi Index

My belly feels good since I streched bit. Now, I will strech more. I will contact the Ms. Mine for card revision.

In [29]:
inside = ['G1','G2','G1','G2']
outside = [1,1,2,2] #these are the index values of the dataframe in form of a list.
#now we will use muultiindex.fromtuples to create a multiindex dataframe.
#df.index = pd.MultiIndex.from_tuples(list(zip(outside,inside))
df_index = list(zip(outside,inside))
#df.index = pd.MultiIndex.from_tuples(outside,inside)
df.index = pd.MultiIndex.from_tuples(df_index)

In [30]:
df

      col1   col2 col3
1 G1   1.0  444.0  abc
  G2   2.0    NaN  NaN
2 G1   NaN  666.0  ghi
  G2   4.0  444.0  xyz