In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
np.random.seed(100) #to generate the same random numbers.

In [8]:
ser = pd.Series(randn(10),[10,9,8,7,6,5,4,3,2,1])
ser

10    1.189622
9    -1.690617
8    -1.356399
7    -1.232435
6    -0.544439
5    -0.668172
4     0.007315
3    -0.612939
2     1.299748
1    -1.733096
dtype: float64

In [10]:
arr = np.array(randn(10))
arr

array([-0.86222735,  1.24946974, -0.07961125, -0.88973148, -0.88179839,
        0.01863895,  0.23784462,  0.01354855, -1.6355294 , -1.04420988])

In [12]:
ser_arr = pd.Series(data = arr)
ser_arr

0   -0.862227
1    1.249470
2   -0.079611
3   -0.889731
4   -0.881798
5    0.018639
6    0.237845
7    0.013549
8   -1.635529
9   -1.044210
dtype: float64

In [17]:
#pandas series can hold even functions. 
ser2 = pd.Series(data=[enumerate, map, filter, range])

In [19]:
series_index = ['enumerate','map','filter','range']
ser2.index = series_index
ser2

enumerate    <class 'enumerate'>
map                <class 'map'>
filter          <class 'filter'>
range            <class 'range'>
dtype: object

In [20]:
ser + ser2

1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
enumerate    NaN
filter       NaN
map          NaN
range        NaN
dtype: object

In [26]:
ser2[1] = 4; ser2

enumerate    <class 'enumerate'>
map                            4
filter          <class 'filter'>
range            <class 'range'>
dtype: object

In [30]:
ser2.index[2]

'filter'

In [33]:
ser.index[5:8] = series_index

TypeError: Index does not support mutable operations

In [39]:
ser.rename(index=('filter','map','enumerate','range',5,6,7,8,9))

10    1.189622
9    -1.690617
8    -1.356399
7    -1.232435
6    -0.544439
5    -0.668172
4     0.007315
3    -0.612939
2     1.299748
1    -1.733096
Name: (filter, map, enumerate, range, 5, 6, 7, 8, 9), dtype: float64

### DATAFRAMES Review

In [61]:
df = pd.DataFrame(data = randn(2,2), columns=['love','hate'],index=['function','method'])
df

              love      hate
function  0.580573 -1.104523
method    0.690121  0.686890

In [62]:
#Index selecting
df['hate']

function   -1.104523
method      0.686890
Name: hate, dtype: float64

In [65]:
#remember the loc and iloc. I think they are index based properties. 
df.loc['method']

love    0.690121
hate    0.686890
Name: method, dtype: float64

In [72]:
df.iloc[[0,1]]

              love      hate
function  0.580573 -1.104523
method    0.690121  0.686890

In [76]:
# lets add new column to the df
df['shame'] = df['love'] + df['hate']
df['joy'] = randn(2)
df

              love      hate     shame       joy
function  0.580573 -1.104523 -0.523950  0.778822
method    0.690121  0.686890  1.377012  0.428233

In [77]:
#I only want love and joy in method lets see. 
df.loc[['method'],['love','joy']]

            love       joy
method  0.690121  0.428233

In [114]:
#Not I want to see function Hate and Shame by iloc
df_func = df.iloc[0]
print(type(df_func), df_func, sep='\n\n')

<class 'pandas.core.series.Series'>

love     0.690121
hate     0.686890
shame    1.377012
joy      0.428233
Name: method, dtype: float64

#### [[<...>]] is a DataFrame, [<...>] is a Series

In [115]:
#now use drop function 
df.drop(labels='function')

            love     hate     shame       joy
method  0.690121  0.68689  1.377012  0.428233

In [116]:
df.drop(columns=['shame','hate'])

              love       joy
method    0.690121  0.428233
function  0.690121  0.428233

In [117]:
#df.drop(index = 'function', inplace=True)

In [118]:
df.describe()

           love     hate     shame       joy
count  2.000000  2.00000  2.000000  2.000000
mean   0.690121  0.68689  1.377012  0.428233
std    0.000000  0.00000  0.000000  0.000000
min    0.690121  0.68689  1.377012  0.428233
25%    0.690121  0.68689  1.377012  0.428233
50%    0.690121  0.68689  1.377012  0.428233
75%    0.690121  0.68689  1.377012  0.428233
max    0.690121  0.68689  1.377012  0.428233

In [119]:
df.loc['function'] = df_func

In [128]:
print(df.shape,df,sep='\n\n')

(2, 4)

              love     hate     shame       joy
method    0.690121  0.68689  1.377012  0.428233
function  0.690121  0.68689  1.377012  0.428233

In [130]:
df.loc['new'] = randn(4)
df

              love      hate     shame       joy
method    0.690121  0.686890  1.377012  0.428233
function  0.690121  0.686890  1.377012  0.428233
new       1.831936  0.003017 -0.076023  0.003958

In [131]:
df[df>0.67]

              love     hate     shame  joy
method    0.690121  0.68689  1.377012  NaN
function  0.690121  0.68689  1.377012  NaN
new       1.831936      NaN       NaN  NaN